{
"nodeId":"",
"agentId":"fc81653c-e7ac-4e03-b88e-e33a35165517",
"poolId":"",
"irName":"",
"subscriptionId":"00000000-0000-0000-0000-000000000000",
"dataFactoryName":"",
"frontendServiceDomain":"{0}.frontend.int2.clouddatahub-int.net",
"frontendServiceRegion":"wu",
"frontendServiceAccessKey":"",
"dtsAppCurrentVersion":"1.3.1-int2",
"workerSettingsFile ":"WorkerAgent.config",
"skipMachineReboot":false,
"defaultTag":null,
"taskUserDomain":"",
"taskUserName":null,
"taskUserPassword":"",
"minutesToKeepTasks":60,
"workerTaskHeartbeatMayLostTimeout":"00:05:00",
"workerTaskHeartbeatLostTimeout":"00:10:00",
"workerTaskHeartbeatLostCrashTimeout":"00:15:00",
"waitDurationBeforeRestartMachine":"00:05:00",
"waitDurationBeforeMarkFatal":"00:05:00",
"sqlBusyErrorBlockDuration":"00:00:10",
"sqlCapacityReachedErrorBlockDuration":"00:00:30",
"sqlFirewallErrorBlockDuration":"00:02:00",
"sqlLoginErrorBlockDuration":"00:02:00",
"sqlKeepFailingTolerance":"00:15:00"
}